external_account_id          = "111122223333"
external_region              = "eu-west-2"
external_role_name           = "AWSReservedSSO_LZASupport_081263e2e62a4ea8"
tags = {
  Repository  = "Your Repository URL"
  Provisioner = "Terraform"
}
